/* vars ============================================================== vars */
:root {
  --blue: rgb(85, 111, 205);
}

/* reset ============================================================== reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

/* base ============================================================== base */
.section-header {
  font-size: 3.6rem;
  padding: 30px 0;
  text-align: center;
  font-weight: 100;
}

/* section-text ============================================================== section-text */
.offer-text,
.about-us-text {
  padding: 0 30px;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

/* wrapper ============================================================== wrapper */
.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
/* top-bar ============================================================== top-bar */

.menu-bar {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  background-color: var(--blue);
}

.text-logo {
  font-size: 2.6rem;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 100;
}
.menu-icon {
  position: relative;
  height: 2px;
  width: 28px;
  background-color: #fff;
}
.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  top: 8px;
  height: 2px;
  width: 28px;
  background-color: #fff;
}

.menu-icon::after {
  top: -8px;
}

nav {
  position: abslolut;
}

/* menu ============================================================== menu */
nav
/* .active */
 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 400px;
}
.menu-bar
/* .active */
 {
  top: 400px;
}

/* header ============================================================== header */

header {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/hero-m.jpg") center;
  background-size: cover;
}

.header-contact-container {
  position: absolute;
  bottom: 18%;
  width: 100%;
  padding: 25px 25px;
  background-color: rgba(85, 111, 205, 0.6);
  text-align: left;
  color: #fff;
}
.main-head {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 100;
}
.header-phone {
  padding: 0 4px;
  font-size: 2rem;
  font-weight: 100;
}

/* offers ============================================================== offers */
.offer-box {
  background-color: #fff;
  padding: 0 0 60px 0;
}
.offer-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 260px;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
}

.offer-header {
  padding: 15px;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 100;
  color: var(--blue);
}

.offer-list {
  padding: 5px 50px 0px;
  line-height: 1.5;
  font-size: 1.6rem;
}

.btn {
  display: block;
  width: 150px;
  padding: 15px 25px;
  margin: 30px auto 0px;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: var(--blue);
}
/* -- Even offer style -- */
.offers-container div:nth-of-type(even) .offer-container .btn {
  background-color: #fff;
  color: var(--blue);
}

.offers-container > div:nth-of-type(even) {
  background-color: var(--blue);
}
.offers-container div:nth-of-type(even) .offer-container,
.offers-container div:nth-of-type(even) .offer-container .offer-header {
  color: #fff;
}
/* about-us ============================================================== about-us */
.about-us-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../img/about-us-s.jpg") center;
  background-size: cover;
  padding: 0 0 60px 0;
}

/* features ============================================================== features */
.features-container {
  background-color: var(--blue);
  color: #fff;
}
.features-box {
  text-align: center;
  padding: 0 30px 60px 30px;
}
.feature-box + .feature-box {
  padding: 5px 0;
}
.feature-box + .feature-box {
  margin-top: 20px;
}
.feature-header {
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 5px;
}
.feature-text {
  margin-top: 3px;
  font-size: 1.8rem;
  font-weight: 100;
}
/* contact ============================================================== contact */
.contact-container {
  padding: 0 30px 60px 30px;
  text-align: center;
  font-weight: 100;
}

.contact-box {
  margin-bottom: 10px;
  font-size: 2.8rem;
}
.contact-box:last-child {
  margin-bottom: 0px;
}

.contact-box p + p {
  font-size: 2.2rem;
  margin-top: 5px;
}

/* footer ============================================================== footer */
footer {
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-weight: 100;
  font-size: 2rem;
  background-color: var(--blue);
}
