
.icon-mail:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-stopwatch:before { content: '\e802'; } /* '' */
.icon-graduation-cap-1:before { content: '\e803'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */