
.icon-mail:before { content: '\e800'; } /* '' */
.icon-graduation-cap:before { content: '\e801'; } /* '' */
.icon-stopwatch:before { content: '\e802'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */